<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/scroll.js}"></script>
</head>
<body>
<!-- footer가 아래에 안붙어서 만든 div -->
<div class="page-container">
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/yama_logo.png" alt="YAMA Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="">Admin</a></li>
                    <li><a th:href="@{/v1/logout}">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="back-button-container">
            <a th:href="@{/v1/main}" class="back-button">Go To Back</a>
        </div>
        <p class="AdminManagement-title">Admin Management</p>
        <table>
            <thead>
            <tr>
                <th>회원번호</th>
                <th>이메일</th>
                <th>닉네임</th>
                <th>권한</th>
                <th>권한 변경</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getNickname()}"></td>
                <td th:text="${user.getAuthority()}"></td>
                <td>
                    <form th:action="@{/v1/admin/{id}(id=${user.getId()})}" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button type="submit" th:if="${user.getAuthority().name() == 'USER'}">BAN</button>
                        <button type="submit" th:if="${user.getAuthority().name() == 'BANNED'}">ACTIVATE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/images/yama_logo.png" alt="YAMA Logo">
            </div>
            <div class="footer-info">
                <div class="footer-contact">
                    <h4>Contact</h4>
                    <ul>
                        <li><p>010-XXXX-XXXX</p></li>
                        <li><p>Eh9700@Naver.Com</p></li>
                    </ul>
                </div>
                <div class="footer-about">
                    <h4>ABOUT</h4>
                    <ul>
                        <li><a href="#">About Team</a></li>
                        <li><a href="#">ERD</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>