<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CategoryPost</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/categoryPost.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<!-- footer가 아래에 안붙어서 만든 div -->
<div class="page-container">
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/yama_logo.png" alt="YAMA Logo">
            </div>
            <nav>
                <ul>
                    <li th:if="${userDTO != null and userDTO.getAuthority().name() != 'BANNED'}">
                        <a th:if="${userDTO.getAuthority().name() == 'USER'}" th:href="@{/v1/user/{id}(id=${userDTO.getId()})}">My Page</a>
                        <a th:if="${userDTO.getAuthority().name() == 'ADMIN'}" th:href="@{/v1/admin}">Admin</a>
                    </li>
                    <li th:if="${userDTO == null}"><a th:href="@{/v1/signup}">Sign Up</a></li>
                    <li th:if="${userDTO == null}"><a th:href="@{/v1/login}">Log In</a></li>
                    <li th:if="${userDTO != null}"><a th:href="@{/v1/logout}" onclick="logoutMessage()">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="back-button-container">
            <button class="back-button" th:onclick="|location.href='@{main} '|">Go To Back</button>
        </div>

        <p class="category-title">Business</p>

        <div class="category-list-container">
            <select class="category-list" name="categoryId"
                    th:onchange="'location.href=\'' + @{/v1/posts} + '?categoryId=\' + this.value'">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${category.id == selectedCategoryId}">
                </option>
            </select>
        </div>


        <table>
            <thead>
            <tr>
                <th></th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><img src="/images/cat-icon.png" alt="Cat Icon"></td>
                <td>
                    <a th:href="@{/v1/posts/{type}/{id}(type=${board.type == 'notice' ? 'notice' : 'post'},
                     id=${board.id}, categoryId=${selectedCategoryId})}"
                       th:text="${board.title}">
                    </a>
                </td>
                <td th:text="${board.authorName}">관리자</td>
                <td th:text="${board.updatedAt}">2024-07-24</td>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>

        <button class="back-button" th:onclick="|location.href='@{/v1/posts/write}'|">글쓰기</button>


    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/images/yama_logo.png" alt="YAMA Logo">
            </div>
            <div class="footer-info">
                <div class="footer-contact">
                    <h4>Contact</h4>
                    <ul>
                        <li><p>010-XXXX-XXXX</p></li>
                        <li><p>Eh9700@Naver.Com</p></li>
                    </ul>
                </div>
                <div class="footer-about">
                    <h4>ABOUT</h4>
                    <ul>
                        <li><a href="#">About Team</a></li>
                        <li><a href="#">ERD</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>