<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CategoryPost</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/categoryPost.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<!-- footer가 아래에 안붙어서 만든 div -->
<div class="page-container">
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/yama_logo.png" alt="YAMA Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="back-button-container">
            <a th:href="@{/v1/main}" class="back-button">Go To Back</a>
        </div>
        <p class="category-title">Business</p>
        <div class="category-list-container">
            <select class="category-list">
                <option value="1">Business</option>
                <option value="2">Fitness</option>
                <option value="3">Finance</option>
                <option value="4">Art</option>
            </select>
        </div>


        <table>
            <thead>
            <tr>
                <th></th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="/images/cat-icon.png" alt="Cat Icon"></td>
                <td>공지사항</td>
                <td>관리자</td>
                <td>2024-07-24</td>
            </tr>
            <tr>
                <td><img src="/images/cat-icon.png" alt="Cat Icon"></td>
                <td>공지사항</td>
                <td>관리자</td>
                <td>2024-07-20</td>
            </tr>
            <tr>
                <td><img src="/images/cat-icon.png" alt="Cat Icon"></td>
                <td>노트 앱 소개</td>
                <td>최의현</td>
                <td>2024-07-23</td>
            </tr>
            <tr>
                <td><img src="/images/cat-icon.png" alt="Cat Icon"></td>
                <td>그림 앱 소개</td>
                <td>의현최</td>
                <td>2024-07-21</td>
            </tr>
            <tr>
                <td><img src="/images/cat-icon.png" alt="Cat Icon"></td>
                <td>개발 앱 소개</td>
                <td>스프링</td>
                <td>2024-07-22</td>
            </tr>
            </tbody>
        </table>


    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/images/yama_logo.png" alt="YAMA Logo">
            </div>
            <div class="footer-info">
                <div class="footer-contact">
                    <h4>Contact</h4>
                    <ul>
                        <li><p>010-XXXX-XXXX</p></li>
                        <li><p>Eh9700@Naver.Com</p></li>
                    </ul>
                </div>
                <div class="footer-about">
                    <h4>ABOUT</h4>
                    <ul>
                        <li><a href="#">About Team</a></li>
                        <li><a href="#">ERD</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>