<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/editPost.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Your App? My App! YAMA - 게시글 작성</title>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="back-button-container">
        <button class="back-button">Go To Back</button>
    </div>
    <section class="post-container">
        <div class="icon">
            <img class="icon-img" src="/images/img-place-holder.png">
            <button class="icon-img-add-button">Edit Icon</button>
        </div>
        <form th:action="${type == 'notice'} ? @{/v1/posts/notice/{id}/edit(id=${board.id})} : @{/v1/posts/post/{id}/edit(id=${board.id})}" th:object="${board}" class="input" method="post">
            <input type="hidden" name="_method" value="put"/>
            <input name="title" class="input-title input-img" type="text" placeholder="Input your [title]" th:value="${board.title}">
            <input name="application" class="input-link input-img" type="text" placeholder="Input your [application download link]" th:value="${board.application}">
            <select name="categoryId" class="input-tag-select">
                <option th:each="category : ${categories}"
                         th:value="${category.id}"
                         th:text="${category.name}"
                         th:selected="${category.id == board.categoryId}">
            </option>
            </select>
            <textarea name="content" placeholder="사용해 본 Application에 대한 후기를 남겨주세요!" th:text="${board.content}"></textarea>
            <div class="back-button-container">
                <button class="back-button" type="submit">Edit</button>
            </div>
        </form>

    </section>
</main>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>