<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMA - Your App? My App!</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="pointing-hand-section">
        <div class="pointing-hand-section-text">
            <h2 class="top">Find Your App!</h2>
            <h2 class="bottom">This Is YAMA!!</h2>
        </div>
        <img src="/images/pointing-hand.png" alt="Pointing Hand" class="pointing-hand">
    </section>

    <section class="card categories">
        <h3>Categories</h3>
        <div class="category-slider">
            <button class="slider-arrow left">&lt;</button>
            <div class="category-items">
                <div class="category-item card"><p>Docs</p></div>
                <div class="category-item card"><p>Financial</p></div>
                <div class="category-item card active"><p>Lifestyle</p></div>
                <div class="category-item card"><p>Fitness</p></div>
                <div class="category-item card"><p>Music</p></div>
            </div>
            <button class="slider-arrow right">&gt;</button>
        </div>
    </section>


    <section class="articles">
        <a href="#" class="see-all">See All Article &gt;</a>
        <div class="article-grid">
            <a href="#" class="article-card">
                <img src="/images/cat-icon.png" alt="Cat Icon">
                <h4>고양이 키우기</h4>
                <div class="article-info">
                    <p class="article-author">사용자 닉네임</p>
                    <p class="article-createAt"> 2024-07-23</p>
                </div>
            </a>
            <a href="#" class="article-card">
                <img src="/images/cat-icon.png" alt="Cat Icon">
                <h4>고양이 키우기</h4>
                <div class="article-info">
                    <p class="article-author">사용자 닉네임</p>
                    <p class="article-createAt"> 2024-07-23</p>
                </div>
            </a>
            <a href="#" class="article-card">
                <img src="/images/cat-icon.png" alt="Cat Icon">
                <h4>고양이 키우기</h4>
                <div class="article-info">
                    <p class="article-author">사용자 닉네임</p>
                    <p class="article-createAt"> 2024-07-23</p>
                </div>
            </a>
            <a href="#" class="article-card">
                <img src="/images/cat-icon.png" alt="Cat Icon">
                <h4>고양이 키우기</h4>
                <div class="article-info">
                    <p class="article-author">사용자 닉네임</p>
                    <p class="article-createAt"> 2024-07-23</p>
                </div>
            </a>
            <a href="#" class="article-card">
                <img src="/images/cat-icon.png" alt="Cat Icon">
                <h4>고양이 키우기</h4>
                <div class="article-info">
                    <p class="article-author">사용자 닉네임</p>
                    <p class="article-createAt"> 2024-07-23</p>
                </div>
            </a>
            <!-- Repeat article-card div for other articles -->
        </div>

    </section>
</main>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>