<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMA - Your App? My App!</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/mypagestyles.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/logout.js}"></script>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/v1/main}"><img src="/images/yama_logo.png" alt="YAMA Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/v1/logout}" onclick="logoutMessage()">Log Out</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>

    <div class="login_icon"><img src="/images/login_icon.png"/></div>

    <div class="signup-container">
        <h2>My page</h2>
        <form class="user-form" th:action="@{/v1/user/{id}(id=${userDTO.getId()})}" method="post">
            <input type="hidden" name="_method" value="put">
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/mail_icon.png" alt="Email icon"/>
                </div>
                <input th:field="${userDTO.email}" th:value="${userDTO.getEmail()}" type="email"
                       readonly placeholder="Input your [email]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/password_icon.png" alt="Password icon"/>
                </div>
                <input th:field="${userDTO.password}" th:value="${userDTO.getPassword()}" type="password" placeholder="Input your [password]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/nickname-icon.png" alt="Nickname icon">
                </div>
                <input th:field="${userDTO.nickname}" th:value="${userDTO.getNickname()}" type="text" placeholder="Input your [nickname]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/phone-icon.png" alt="Phone icon">
                </div>
                <input th:field="${userDTO.phoneNumber}" th:value="${userDTO.getPhoneNumber()}" type="tel" placeholder="Input your [phone number]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/authority-icon.png" alt="Authority icon">
                </div>
                <input th:field="${userDTO.authority}" th:value="${userDTO.getAuthority()}" readonly="readonly" type="text" placeholder="confirm your [authority]" required>
            </div>
            <div class="button-group">
                <button type="submit" class="modify-btn">Modify</button>
            </div>
        </form>
        <form class="delete-form" th:action="@{/v1/user/{id}(id=${userDTO.getId()})}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="delete-btn">Delete Account</button>
        </form>

        <button class="back-button" onclick="history.back()">Go To Back</button>
    </div>
</main>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a th:href="@{/v1/main}"><img src="/images/yama_logo.png" alt="YAMA Logo"></a>
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>