<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMA - Your App? My App!</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/signinstyles.css}">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <main>
        <a href="#" class="go-back">Go To Back</a>
        <div class="login_icon"><img src="/images/login_icon.png"/></div>


        <div class="signin-container">
            <div class="user-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h2>Sign In</h2>
            <form>
                <div class="input-group">
                    <div class="mail-icon">
                        <i class="mail-icon"></i><img src="/images/mail_icon.png"/>
                    </div>
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="email" required>
                </div>
                <div class="input-group">
                    <div class="password-icon">
                        <i class="password-icon"></i><img src="/images/password_icon.png"/>
                    </div>
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="password" required>
                </div>
                <button type="submit" class="signin-btn">Log In</button>
            </form>
        </div>
    </main>
</main>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>