<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMA - Your App? My App!</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/signupstyles.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Sign Up</a></li>
                <li><a th:href="@{/v1/login}">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <a th:href="@{/v1/main}" class="back-button">Go To Back</a>
    <div class="login_icon"><img src="/images/login_icon.png"/></div>

    <div class="signup-container">
        <h2>Sign Up</h2>
        <form th:action="@{/v1/signup}" method="post">
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/mail_icon.png"/>
                </div>
                <input th:field="${userDTO.email}" type="email" placeholder="Input your [email]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/nickname-icon.png" alt="Nickname icon">
                </div>
                <input th:field="${userDTO.nickname}" type="text" placeholder="Input your [nickname]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/password_icon.png"/>
                </div>
                <input th:field="${userDTO.password}" id="password" type="password" placeholder="Input your [password]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/password_icon.png"/>
                </div>
                <input id="password-confirm" type="password" placeholder="Input your [password confirm]" required>
            </div>
            <div class="input-group">
                <div class="icon-wrapper">
                    <img src="/images/phone-icon.png" alt="Phone icon">
                </div>
                <input th:field="${userDTO.phoneNumber}" type="tel" placeholder="Input your [phone number]" required>
            </div>
            <button type="submit" class="signup-btn" onclick="return comparePassword()">Sign Up</button>
        </form>
    </div>
</main>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>