<!DOCTYPE html>
<script th:src="@{/js/comment.js}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/viewPost.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Your App? My App! YAMA - 게시글 작성</title>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Sign Up</a></li>
                <li><a th:href="@{/v1/login}">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>

<main role="main">
    <a href="#" class="go-back">Go To Back</a>

    <section class="post-container">
        <h1>Title입니다</h1>

        <div class="icon">
            <img src="/images/img-place-holder.png" class="icon-img" alt="">
            Edit Post
        </div>

        <div class="user-information">
            <div>
                <div class="user">
                    <img src="/images/nickname-icon.png" class="nickname-img" alt="">
                    <div class="nickname">
                        Nickname
                    </div>
                </div>
            </div>
            <div>
                날짜출력
            </div>
        </div>

        <div class="download">
            <img src="/images/link.png" class="download-img" alt="">
            <a href="www.naver.com">dfafsdafdasfdsafdasdfdasdafadsfasfdasfdsafdasfdsafdsfasfsdafdsafasfasfdasf</a>
        </div>

        <div id="comments-container">
            <div class="comment-container">
                <div class="author-createdAt-delete-update-container">
                    <div class="author-createdAt-container">
                        <span class="author">작성자</span>
                        <span class="createdAt">2024-07-23</span>
                    </div>
                    <div class="delete-update-container">
                        <span onclick="editComment(0)">수정</span>
                        <span class="delete" onclick="deleteComment(this)">삭제</span>
                    </div>
                </div>
                <div class="content-container">
                    <p>Test</p>
                </div>
            </div>
        </div>

        <div class="comment-write">
            <textarea id="newCommentContent" placeholder="댓글을 입력하세요"></textarea>
        </div>

        <div class="back-button-container">
            <button class="back-button" onclick="addComment()">Comment</button>
        </div>
    </section>
</main>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>