<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/viewPost.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <title>Your App? My App! YAMA - 게시글 작성</title>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="back-button-container">
        <a th:href="@{/v1/main}" class="back-button">Go To Back</a>
    </div>
    <section class="post-container">
        <h1>Title입니다</h1>
        <div class="icon">
            <img class="icon-img" src="/images/img-place-holder.png">
            <button class="icon-img-add-button">Edit Post</button>
        </div>
        <div class="user-information">
            <div>
                <div class="user">
                    <img class="nickname-img" src="/images/nickname-icon.png">
                    <div class="nickname">Nickname</div>
                </div>
                <div>날짜 출력dsafdsafdsafdsafdasfdasfdasfasdfdasfdsafdsafdasfdsaf</div>
            </div>

            <div class="download">
                <img class="download-img" src="/images/link.png">
                <a href="www.naver.com">dfafsdafdasfdsafdasdfdasdafadsfasfdasfdsafdasfdsafdsfasfsdafdsafasfasfdasf</a>
            </div>

        </div>
        <form class="input">
            <textarea placeholder="사용해 본 Application에 대한 후기를 남겨주세요!"></textarea>
        </form>
        <div class="comment-container">
            <div class="author-createdAt-delete-update-container">

                <div class="author-createdAt-container">
                    <p class="author">최의현</p>
                    <p class="createdAt">2024-07-23</p>
                </div>

                <div class="delete-update-container">
                    <p class="update">수정</p>
                    <p class="delete">삭제</p>
                </div>

            </div>

            <div class="content-container">
                <p>안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.안녕하세요 첫 댓글입니다.</p>
            </div>
        </div>
        <div class="comment-write">
            댓글 작성
            <textarea></textarea>
        </div>
        <div class="back-button-container">
            <button class="back-button">Comment</button>
        </div>
    </section>
</main>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/yama_logo.png" alt="YAMA Logo">
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>