<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/writePost.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/enter.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
    <title>Your App? My App! YAMA - 게시글 작성</title>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/v1/main}"><img src="/images/yama_logo.png" alt="YAMA Logo"></a>
        </div>
        <nav>
            <ul>
                <li th:if="${userDTO != null and userDTO.getAuthority().name() != 'BANNED'}">
                    <a th:if="${userDTO.getAuthority().name() == 'USER'}" th:href="@{/v1/user/{id}(id=${userDTO.getId()})}">My Page</a>
                    <a th:if="${userDTO.getAuthority().name() == 'ADMIN'}" th:href="@{/v1/admin}">Admin</a>
                </li>
                <li th:if="${userDTO != null}"><a th:href="@{/v1/logout}" onclick="logoutMessage()">Log Out</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="back-button-container">
        <button class="back-button" onclick="history.back()">Go To Back</button>
    </div>
    <section class="post-container">
        <form th:action="@{/v1/posts}" th:object="${board}" method="post" id="write" class="input" enctype="multipart/form-data">

            <div th:if="${userDTO.getAuthority().name() == 'USER'}" class="icon">
                <img src="/images/img-place-holder.png" id="preview" class="icon-img">
                <input type="file" id="file" name="file" class="icon-img-add-button" accept="image/*">
            </div>

            <input th:field="*{title}" class="input-title input-img" type="text" placeholder="Input your [title]">
            <input th:if="${userDTO.getAuthority().name() == 'USER'}" th:field="*{application}" class="input-link input-img" type="text"
                   placeholder="Input your [application download link]">
            <select name="categoryId" class="input-tag-select">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${category.id} == ${selectedCategoryId}">General</option>
            </select>
            <textarea th:field="*{content}" placeholder="사용해 본 Application에 대한 후기를 남겨주세요!"></textarea>

            <div class="back-button-container">
                <button type="submit">Post</button>
            </div>
        </form>
    </section>
</main>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a th:href="@{/v1/main}"><img src="/images/yama_logo.png" alt="YAMA Logo"></a>
        </div>
        <div class="footer-info">
            <div class="footer-contact">
                <h4>Contact</h4>
                <ul>
                    <li><p>010-XXXX-XXXX</p></li>
                    <li><p>Eh9700@Naver.Com</p></li>
                </ul>
            </div>
            <div class="footer-about">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="#">About Team</a></li>
                    <li><a href="#">ERD</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/sendImage.js}"></script>
</body>
</html>