* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration-line: none;
    color: black;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    background-color: #CD31AB;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.back-button-container {
    display: flex;
    justify-content: start;
    width: 100%;
}

.back-button {
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    margin: 56px;
    background-color: #CD31AB;
    color: white;
}

input:focus {
    outline: none;
}