footer {
    background-color: #EFF0F3;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container .footer-logo {
    flex: 0 0 auto; /* 로고 크기 고정 */
}

.footer-container .footer-logo img {
    vertical-align: bottom;
    height: 100px;
    display: block;
}

.footer-container .footer-info {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    flex: 1; /* 남은 공간 차지 */
    gap: 40px; /* Contact와 About 사이 간격 */
}

.footer-container .footer-contact, .footer-about {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬로 변경 */
}

footer .footer-container h4 {
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center; /* 제목 중앙 정렬 */
}

footer .footer-container ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

footer .footer-container li {
    margin-bottom: 15px;
    text-align: left;
}

footer .footer-container a {
    text-decoration: none;
    color: inherit;
}

footer .footer-container p {
    margin: 0;
}