header {
    background-color: #EFF0F3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header img {
    height: 100px;
    vertical-align: bottom;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration-line: none;
}