html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    background-color: #EFF0F3;
    flex-shrink: 0;
}

.footer-container {
    padding: 20px 20px 0;
}

.footer-container li:last-child,
.footer-container p:last-child {
    margin-bottom: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


.login_icon {
    text-align: center;
    margin-top : 100px;
}

.login_icon img {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.signin-container {
    background-color: #fff;
    padding: 20px;
    margin: 0 600px 0 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-icon {
    text-align: center;
    font-size: 80px;
    color: #CD31AB;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.signin-btn {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    background-color: #CD31AB;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
}

.mail-icon,
.password-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.mail-icon img,
.password-icon img {
    width: 20px;
    height: auto;
}
